*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

h1{
    text-align: center;
}

section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.UserNameDiv{
    display: flex;
}

.inputFieldDiv{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

button{
    margin: .5rem;
    
}